<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Medium-Project</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    body{

      background-color:#dfcccc;
    }
    .jumbotron{
      background-color: #f9b94a;
    }
    .StoryHeader{

      
    background: #2e6f7d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 15px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 2em;


    }
    td, th {
    padding: 11px;
}

    
    #button{

      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
    }

  #button:hover, #button:focus {
      border: 1px solid #333;
      background-color:#2e6f7d;
      color: #000;
      border-radius: 25px;
  }
  .StoryFooter {
    background: #2e6f7d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 15px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    text-align: center;
}
table{

background: #f5f5f5;
    
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}

    
  </style>
</head>
<body>
         
         
      <div class="loginForm">
        </div>
    <div class="StoryHeader">
    <p>Add Stories</p>
    </div>
         <form action="/adminstories" method="post">
            <table align="center">
              <tr>
                <td>
                  <label>Title:</label>
                </td>
                <td>
                  <input type="text" name="story_title" placeholder="story_title" class="form-control input-lg" required>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Category:</label>
                </td>
                <td>
                <select class="form-control input-lg" name="category"  required>
                    
                    <option value="Select">--Select--</option>
                    <option value="News">News</option>
                    <option value="Culture">Culture</option>
                    <option value="Tech">Tech </option>
                    <option value="Startups">Startups </option>
                    <option value="Self">Self </option>
                    <option value="Politics">Politics</option>
                    <option value="Design">Design</option>
                    <option value="Health">Health</option>
                    <option value="Popular">Popular</option>
                    <option value="Collections">Collections</option>
                    
                </select>
                                 
                                


                  
                </td>
              </tr>

              <tr>
                <td>
                  <label>Description:</label>
                </td>
                <td>
                <textarea name="description" cols="5" class="form-control input-lg" required="">
                  
                </textarea>


                  
                </td>
              </tr>
              <tr>
                <td>
                  <label>Story:</label>
                </td>
                <td>
                <textarea  cols="50" name="story" class="form-control input-lg" required="">
                  
                </textarea>


                  
                </td>
              </tr>
              <tr>
                <td colspan="2" align="center">
                  <input type="submit" value="Post" id="button" class="btn-primary btn-lg">
                </td>
              </tr>
            </table>
          </form>


      
</div>

    </div>
    <div class="StoryFooter">
    <p>Thank you!</p>
    </div>
</body>
</html>